<!-- パーシャル -->
<!-- 新規登録画面と編集画面に共通のview -->

<%= form_with model: user, local: true do |f| %>

    <div class="field">
        <!-- ユーザー名 -->
        <%= f.label :name %><br>
        <%= f.text_field :name %><br>
    </div>

    <div class="field">
        <!-- e-mail -->
        <%= f.label :email %><br>
        <%= f.text_field :email %><br>
    </div>

    <div class="field">
        <!-- 生パスワード -->
        <%= f.label :password %><br>
        <%= f.text_field :password %><br>
    </div>

    <div class="field">
        <!-- 確認用パスワード -->
        <%= f.label :password_confirmation %><br>
        <%= f.text_field :password_confirmation %><br>
    </div>

    <div class="actions">
        <%= f.submit('登録') %>
    </div>

<% end %>