<h1>ユーザー詳細</h1>

<%= link_to 'ユーザー一覧', users_path %>

    <table>
        <tbody>

            <tr>
                <th><%= User.human_attribute_name(:id) %></th>
                <!-- カラム名表示：カラム名を表示するときは、モデル.human.attribute_name(カラム名のシンボル)で記述する -->
                <td><%= @user.id %></td>
                <!-- データ名表示：指定されたデータのidカラムに入っているデータを表示 -->
            </tr>

            <tr>
                <th><%= User.human_attribute_name(:name) %></th>
                <td><%= @user.name %></td>
            </tr>

            <tr>
                <th><%= User.human_attribute_name(:email) %></th>
                <td><%= @user.email %></td>
            </tr>

            <tr>
                <th><%= User.human_attribute_name(:password_digest) %></th>
                <td><%= @user.password_digest %></td>
            </tr>

            <tr>
                <th><%= User.human_attribute_name(:created_at) %></th>
                <td><%= @user.created_at %></td>
            </tr>

            <tr>
                <th><%= User.human_attribute_name(:updated_at) %></th>
                <td><%= @user.updated_at %></td>
            </tr>

        </tbody>
    </table>
<% if @user == @current_user %>
    <%= link_to '編集', edit_user_path %>
<!-- 編集ボタン -->
    <%= link_to '削除', @user, method: :delete, data: {confirm: "削除しますか？"} %>
<!-- 削除ボタン -->
<% end %>