<!-- パーシャル -->
<!-- 新規登録画面と編集画面に共通のview -->

<%= form_with model: book, local: true do |f| %>

    <div class="field">
        <!-- ISBN -->
        <%= f.label :isbn %><br>
        <%= f.text_field :isbn %><br>
    </div>

    <div class="field">
        <!-- NDC -->
        <!-- クソ長プルダウン取扱注意 -->
        <%= f.label :ndc %><br>
        <%= f.select :ndc, ['000　総記', '010　図書館・図書館学', '020　図書・書誌学', '030　百科事典', '040　一般論文集・一般講演集','050　逐次刊行物', '060　団体', '070　ジャーナリズム・新聞', '080　叢書・全集・選集', '090　貴重書・郷土資料　その他の特別コレクション', '100　哲学', '110　哲学各論', '120　東洋思想', '130　西洋哲学', '140　心理学', '150　倫理学・道徳', '160　宗教', '170　神道', '180　仏教', '190　キリスト教', '200　歴史', '210　日本史', '220　アジア史・東洋史', '230　ヨーロッパ史・西洋史', '240　アフリカ史', '250　北アメリカ史', '260　南アメリカ史', '270　オセアニア史・両極地方史', '280　伝記', '290　地理・地誌・紀行', '300　社会科学', '310　政治', '320　法律', '330　経済', '340　財政', '350　統計', '360　社会', '370　教育', '380　風俗習慣・民俗学・民族学', '390　国防・軍事', '400　自然科学', '410　数学', '420　物理学', '430　化学', '440　天文学・宇宙科学', '450　地球科学・地学', '460　生物科学・一般生物学', '470　植物学', '480　動物学', '490　医学・薬学', '500　技術・工学', '510　建設工学・土木工学', '520　建築学', '530　機械工学・原子力工学', '540　電気工学・電子工学', '550　海洋工学・船舶工学・兵器', '560　金属工学・鉱山工学', '570　化学工業', '580　製造工業', '590　家政学・生活科学', '600　産業', '610　農業', '620　園芸', '630　蚕糸業', '640　畜産業・獣医学', '650　林業', '660　水産業', '670　商業', '680　運輸・交通', '690　通信事業', '700　芸術・美術', '710　彫刻', '720　絵画・書道', '730　版 画', '740　写真・印刷', '750　工芸', '760　音楽・舞踊', '770　演劇・映画', '780　スポーツ・体育', '790　諸芸・娯楽', '800　言語', '810　日本語', '820　中国語　その他の東洋の諸言語', '830　英語', '840　ドイツ語', '850　フランス語', '860　スペイン語', '870　イタリア語', '880　ロシア語', '890　その他の諸言語', '900　文学', '910　日本文学', '920　中国文学　その他の東洋文学', '930　英米文学', '940　ドイツ文学', '950　フランス文学', '960　スペイン文学', '970　イタリア文学', '980　ロシア・ソヴィエト文学', '990　その他の諸文学']%><br>
    </div>

    <div class="field">
        <!-- 書籍名 -->
        <%= f.label :name %><br>
        <%= f.text_field :name %><br>
    </div>

    <div class="field">
        <!-- 著者名 -->
        <%= f.label :auther %><br>
        <%= f.text_field :auther %><br>
    </div>

    <div class="field">
        <!-- 価格 -->
        <%= f.label :price %><br>
        <%= f.number_field :price %><br>
    </div>

    <div class="field">
        <!-- 出版社 -->
        <%= f.label :publisher %><br>
        <%= f.text_field :publisher %><br>
    </div>

    <div class="field">
        <!-- 出版日 -->
        <%= f.label :published %><br>
        <%= f.date_field :published %><br>
    </div>

    <div class="field">
        <!-- 備考 -->
        <%= f.label :notes %><br>
        <%= f.text_area :notes, size: "40x10" %><br>
    </div>

    <div class="field">
        <!-- 画像 -->
        <%= f.label :image %><br>
        <%= f.file_field :image %><br>
    </div>

    <div class="actions">
        <%= f.submit('登録') %>
    </div>

<% end %>